<div class="container">
  <h6 class="text-center">Search student by name</h6>
  <div class=" border border-info border-1 rounded shadow-sm">
    <div class="input-group">
      <input type="text" class="form-control border-0" placeholder="Search" #searchBox (keyup)="search(searchBox.value)"
        (blur)="delayShowChange()" (blur)="search(' ')" (focus)="show_ul = 'block'"
        (mouseenter)="search(searchBox.value)" />
    </div>
    <ul class="search-result" [style.display]="show_ul">
      <li *ngFor="let student of (students$ | async)">
        <a (click)="studentService.onEdit(student)">{{ student.name }}</a>
      </li>
    </ul>
  </div>
</div>