<h6 class="text-center">Register new student</h6>
<form #studentForm="ngForm" (ngSubmit)="onSubmit (studentForm)">
  <input type="hidden" name="$key" #$key="ngModel" [(ngModel)]="studentService.selectedStudent.$key">
  <div class="form-group">
    <label>Name</label>
    <input class="form-control" name="name" #name="ngModel" [(ngModel)]="studentService.selectedStudent.name"
      placeholder="Full Name" required>
  </div>

  <div class="form-group">
    <label>Gender</label>
    <!-- <input class="form-control" name="gender" #gender="ngModel"
      [(ngModel)]="studentService.selectedStudent.gender" placeholder="Gender" required> -->
    <select class="form-control custom-select" id="gender" name="gender" #gender="ngModel"
      [(ngModel)]="studentService.selectedStudent.gender" required>
      <option [selected] = "studentService.selectedStudent.gender">Male</option>
      <option>Female</option>
      <option>Other</option>
    </select>
  </div>

  <div class="form-group">
    <label>Class</label>
    <input class="form-control" name="class" #position="ngModel" [(ngModel)]="studentService.selectedStudent.class"
      placeholder="class" required>
  </div>
  <div class="form-group">
    <label>Code</label>
    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text"><i class="fa fas fa-hashtag"></i></span>
      </div>
      <input class="form-control" name="code" #code="ngModel" [(ngModel)]="studentService.selectedStudent.code"
        placeholder="Code" required>
    </div>
  </div>
  <div class="form-group">
    <button class="btn btn-default btn-primary mr-1" type="submit" [disabled]="!studentForm.valid">
      <i class="fa fa-floppy-o"></i>
      Submit</button>
    <button class="btn btn-default btn-primary" type="button" (click)="resetForm(studentForm)">
      <i class="fa fa-repeat"></i>
      Reset</button>
  </div>
</form>